*{
    margin: 0 auto;
    padding: 0;
    list-style: none ;
    font-family: Biotif,"NoTo Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    color: #4d4f53;
    font-size: 16px;

}

a{
    text-decoration:none
}
svg{
    fill: #008190;
}

/* ==========================header 영역 시작 */
.header{
    width: 100%;
    position: sticky;
    padding: 32px 0px 0px 0px;
    top: -32px;
    background-color: #ffffff;
}

.header1{
    background-color: #f2f2f2;
    height: 32px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.h1btn{
    max-width: 1440px;
    height: 32px;
    
}
.h1btn div{
    position: relative;
    width: 300px;
    height: 32px;
    float: right;
}
.h1btn div a{
    position: relative;
    font-family: Biotif,"NoTo Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 6px;
}

.header2{
    max-width: 1440px;
    height: 71px;
    background-color: #ffffff;
}
.logo{
    width: 208px;
    height: 71px;
    float: left;
}
.h2btn{
    display: flex;
    width: 300px;
    height: 71px;
    float: right;
}
.h2btn1{
    width: 130px;
    height: 71px;
}
.h2btn2{
    width: 160px;
    height: 71px;
}
.h2btn1-1{
    width: 86px;
    height: 44px;
    float: right;
}
.h2btn2-1{
    width: 116px;
    height: 44px;
    float: right;
}
.h2btn div a{
    font-family: Biotif,"NoTo Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .2px;
    font-size: 16px;
    padding: 0px 16px;
    margin: auto;
}

.header3{
    width: 100%;
    height: 40px;
    background-color: #008190;
}

.header4{
    width: 100%;
    height: 56px;
    background-color: #f2f2f2;
}
.submenu{
    display: hidden;
}

/* ==========================main 영역 시작 */
.main{
    background-color: lightyellow; /*<=============================틀잡은후 제거*/
}

.c1{
    max-width: 1440px;
    height: 473px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c2{
    max-width: 1440px;
    height: 14.4px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c3{
    max-width: 1440px;
    height: 40;
    margin: 0px auto 24px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c4{
    max-width: 1440px;
    height: 116px;
    margin: 0px auto 80px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c5{
    max-width: 1440px;
    height: 456px;
    margin: 0px auto 40px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c6{
    max-width: 1440px;
    height: 14.4px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c7{
    max-width: 1440px;
    height: 427px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c8{
    max-width: 1440px;
    height: 1091px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}

/* ==========================footer 영역 시작 */
.footer{
    background-color: lightgreen;  /*<=============================틀잡은후 제거*/
}

.footer1{
    height: 260px;
    display: flex;
}

.footer2{
    height: 130px;
    display: flex;

}

.footer3{
    height: 425px;
    display: flex;

}

.f3-1{
    flex: 3;
}
.f3-2{
    flex: 1;
}
.f3-3{
    flex: 1;
}
.f3-4{
    flex: 1;
}

.footer4{
    height: 153px;
    display: flex;

}