*{
    margin: 0 auto;
    padding: 0;
    list-style: none ;
    font-family: Biotif,"NoTo Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    color: #4d4f53;
    font-size: 16px;

}

a{
    text-decoration:none
}
svg{
    fill: #008190;
}

/* ==========================header 영역 시작 */
.header1{
    background-color: #f2f2f2;
    height: 32px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.h1btn{
    max-width: 1440px;
    height: 32px;
    
}
.h1btn div{
    width: 300px;
    height: 32px;
    float: right;
}
.h1btn div a{
    position: absolute;
    height: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
    font-size: 13px;
    padding: 8.5px 16px;
}
.h1btn2{
    margin-left: 86px;
}
.h1btn3{
    margin-left: 171px;
}
.header{
    width: 100%;
    position: sticky;
    padding: 32px 0px 0px 0px;
    top: -32px;
    background-color: #ffffff;
}


.header2{
    max-width: 1440px;
    height: 71px;
    background-color: #ffffff;
}
.logo{
    width: 208px;
    height: 71px;
    float: left;
}
.h2btn{
    display: flex;
    width: 300px;
    height: 71px;
    float: right;
}
.h2btn1{
    width: 130px;
    height: 71px;
}
.h2btn2{
    width: 160px;
    height: 71px;
}
.h2btn1-1{
    width: 86px;
    height: 44px;
    float: right;
}
.h2btn2-1{
    width: 116px;
    height: 44px;
    float: right;
}
.h2btn div a{
    display: flex;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: .2px;
    font-size: 16px;
    padding: 13.5px 16px;
    margin: auto;
    vertical-align: center;

}


.header3{
    width: 100%;
    height: 40px;
    background-color: #008190;
}
.nav{
    max-width: 1440px;
}
.menu{
    max-width: 1408px;
    margin: 0px 16px;
    height: 40px;
}
.menu a{
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    max-width: 150px;
    height: 24px;
    padding: 8px 16px;
    float: left;
}

.submenu1{
    max-width: 1408px;
    margin: 0px 16px;
    height: 300px;
    background-color: #ffffff;
    display: none;
}


.header4{
    width: 100%;
    height: 56px;
    background-color: #f2f2f2;
}


/* ==========================main 영역 시작 */
.main{
    background-color: lightyellow; /*<=============================틀잡은후 제거*/
}

.c1{
    max-width: 1440px;
    height: auto;
    margin-bottom: 20px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/

    
}
.c1 a{
    width: 100%;
    
}
.c1 a img{
    width: 100%;
}
.c2{
    max-width: 1440px;
    height: 14.4px;
    margin-bottom: 10px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c3{
    max-width: 1440px;
    height: 40;
    margin: 0px auto 24px;
    display: flex;
}
.c3 a{
    width: 30%;
    height: 38px;
    color: #008190;
    border-width: 1px;
    border-style: solid;
    border-color: #008190;
    box-shadow: 0 2px 1px 0 #ccc;
    text-align: center;
    line-height: 40px;
}
.c4{
    max-width: 1440px;
    height: auto;
    margin: 0px auto 80px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
    display: flex;
}
.c4 a{
    width: 14%;
}
.c4 a img{
    width: 100%;
}
.c5{
    max-width: 1440px;
    height: auto;
    margin: 0px auto 80px;
    display: flex;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c5 *{
    color: #1a1a1a;
}
.c51{
    width: 22%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.c51 h3{
    width: 100%;
    margin: 8px 0px;
}

.c51 div{
    width: 100%;
    margin-top: 8px;
}
.c5 img{
    width: 100%;
}
.review{
    font-size: 10px;
}
.c6{
    max-width: 1440px;
    height: auto;
    margin-bottom: 20px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c6 a{
    width: 100%;
}
.c6 a img{
    width: 100%;
}
.c7{
    max-width: 1440px;
    height: 14.4px;
    margin-bottom: 10px;
    background-color: lightpink; /*<=============================틀잡은 후 제거*/
}
.c8{
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background-color: lightblue; /*<===============================틀잡은후 제거*/
}
.c8 div {
    width: 100%;
    display: flex;
}
.c8 div div{
    display: flex;
    flex-direction: column;
}
.c8 div div img{
    width: 90%;
}
.c8 div div h3{
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 60px;
}
/* ==========================footer 영역 시작 */
.footer{
    background-color: lightgreen;  /*<=============================틀잡은후 제거*/
}

.footer1{
    margin: 32px 16px 0px;
    padding: 32px 16px;
    height: 164px;
    display: flex;
}
.f1-1{
    flex: 1;
    max-width: 100%;
    margin: 0px 16px;
}
.f1-2{
    flex: 1;
    max-width: 100%;
    margin: 0px 16px;
    display: flex;
}
.f1-2 a{
    width: 100%;
    height: auto;
    margin: auto 0px;
}
.f1-2 img{
    width: 100%;
}
.f1-3{
    flex: 1;
    max-width: 100%;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
}
.f1-3 div{
    width: 87px;
    height: 24px;
    text-align: center;
}
.f1-4{
    flex: 1;
    max-width: 100%;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
}
.f1-4 div{
    width: 276px;
    height: 24px;
    text-align: center;
}


.footer2{
    height: 130px;
    display: flex;
    background-color: #454749;
    padding: 20px 16px 0px;
}
.f2

.footer3{
    height: 425px;
    display: flex;
    background-color: #5E6163;
    color: #ffffff;
}

.f3-1{
    flex: 3;
}
.f3-2{
    flex: 1;
}
.f3-3{
    flex: 1;
}
.f3-4{
    flex: 1;
}

.footer4{
    height: 153px;
    display: flex;

}